---
import { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils/datetime-fmt";
export interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<li class="blogListItem">
    <a href={`/${post.collection}/${post.slug}/`}>{post.data.title}</a>
    <time datetime={post.data.pubDate.toISOString()}>
        ({formatDate(post.data.pubDate)})
    </time>
</li>

<style>
    .blogListItem {
        padding: 5px 0;
    }
    .blogListItem:first-child {
        padding: 0 0 5px;
    }
    .blogListItem:last-child {
        padding: 5px 0 0;
    }
</style>
