---
import { getCollection } from "astro:content";
import Card from "../components/Scaffolding/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { sortByPubdateMostRecentFirst } from "../utils/sort-posts";

const latestPost = (await getCollection("blog"))
    .filter((post) => !post.data.redirect)
    .sort(sortByPubdateMostRecentFirst)[0];
const blogPath = "/blog";
---

<BaseLayout>
    <section class="words">
        <p>Well, you've made it here for some reason... Have fun I guess!</p>

        <p>
            But really, I'm making this site for my explorations into FE tech
            things. <a href={`${blogPath}/a-new-blog-why`}>This blog post</a>
            explains a bit more about why I'm doing this. Should be fun. In the
            meantime, checkout some silly things below that I do elsewhere.
        </p>

        <p class="smaller">
            And yes, I kept a lot of things from the Astro base. So sue me (but
            really, don't) - I am not a lawyer
        </p>
    </section>

    <section class="other-content">
        <h2>The Good Stuff</h2>
        <ul role="list" class="link-card-grid">
            <Card
                title={latestPost.data.title}
                body={latestPost.data.description}
                href={`${blogPath}/${latestPost.slug}`}
                label="Latest"
            />
            <Card
                title="All Posts"
                body="Ramblings / blog / whatever I want it to be..."
                href={blogPath}
            />
        </ul>
    </section>

    <section class="other-content">
        <h2>Other Stuff</h2>
        <p class="tagline">(arguably good stuff as well)</p>

        <ul role="list" class="link-card-grid">
            <Card
                title="A New Blog? Why?"
                body="Hmmm, why a new blog? I wonder..."
                href="/blog/2023/01/a-new-blog-why/"
                label="Featured"
            />
            <Card
                title="byvernacchia.com"
                body="Just some messing around. Recruiters, eat your hearts out..."
                href="https://byvernacchia.com"
            />
            <Card
                title="Github"
                body="Ohhh, you want some code?"
                href="https://www.github.com/vernak2539"
            />
            <Card
                title="500px"
                body="Used to be into photography... maybe I will be again soon??"
                href="https://500px.com/vernacchia"
            />
        </ul>
    </section>
</BaseLayout>

<style>
    h2 {
        margin-bottom: 0;
    }
    h2 + .tagline {
        margin-top: 5px;
        font-size: 0.8rem;
    }
    .smaller {
        font-size: 0.75rem;
    }
    .words {
        line-height: 1.6;
        margin: 1rem 0;
        border-radius: 0.4rem;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
    .other-content {
        margin-bottom: 30px;
    }
    .other-content:last-child {
        margin-bottom: 0;
    }
</style>
