---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import SiteTitle from "../components/SiteTitle.astro";
import Tracking from "../components/Tracking.astro";
import Comments from "../components/Comments.astro";
import { SITE_TITLE } from "../constants";
import { formatDate } from "../utils/datetime-fmt";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];
const {
    title: blogTitle,
    description,
    pubDate,
    updatedDate,
    heroImage,
    socialImage,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={`${blogTitle} | ${SITE_TITLE}`}
            description={description}
            socialImage={socialImage}
        />
        <style>
            .content {
                line-height: 1.45;
            }
        </style>
        <Tracking />
    </head>
    <body>
        <main class="container">
            <SiteTitle variant="blog" />
            <article>
                {
                    heroImage && (
                        <img width={720} height={360} src={heroImage} alt="" />
                    )
                }
                <h2 style={{ marginBottom: ".5rem" }}>{blogTitle}</h2>
                <Breadcrumbs />
                {pubDate && <time>{formatDate(pubDate)}</time>}
                {
                    updatedDate && (
                        <div>
                            Last updated on <time>{updatedDate}</time>
                        </div>
                    )
                }
                <hr />

                <section class="content">
                    <slot />
                    <p>Until next time...</p>
                </section>
            </article>
            <Comments />
            <Footer />
        </main>
    </body>
</html>
