---
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import SiteTitle from "../components/SiteTitle.astro";
import Tracking from "../components/Tracking.astro";
import Comments from "../components/Comments.astro";
import { SITE_TITLE } from "../constants";
import { formatDate } from "../utils/datetime-fmt";
import Footer from "../components/Footer.astro";
import getReadingTime from "../utils/reading-time";

interface Props {
    postData: CollectionEntry<"blog">["data"];
    postContent: CollectionEntry<"blog">["body"];
}

const { postData, postContent } = Astro.props;
const {
    title: blogTitle,
    description,
    pubDate,
    updatedDate,
    socialImage,
} = postData;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={`${blogTitle} | ${SITE_TITLE}`}
            description={description}
            socialImage={socialImage}
        />
        <style>
            .content {
                line-height: 1.45;
            }
            .metadata-container {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
            }
            .metadata-entry-spacer {
                margin: 0 0.25rem;
            }
            .metadata-entry {
                display: flex;
                align-items: center;
            }
            .metadata-entry-icon {
                width: 18px;
                height: 18px;
                margin-right: 3px;
            }
        </style>
        <Tracking />
    </head>
    <body>
        <main class="container">
            <SiteTitle variant="blog" />
            <article>
                <h2 style={{ marginBottom: ".5rem" }}>{blogTitle}</h2>
                <Breadcrumbs />
                {
                    pubDate && (
                        <div class="metadata-container">
                            <div class="metadata-entry">
                                <div class="metadata-entry-icon">
                                    <Icon pack="mdi" name="calendar-today" />
                                </div>
                                <time>{formatDate(pubDate)}</time>
                            </div>
                            <div class="metadata-entry-spacer"> - </div>
                            <div class="metadata-entry">
                                <div class="metadata-entry-icon">
                                    <Icon
                                        pack="mdi"
                                        name="clock-time-nine-outline"
                                    />
                                </div>
                                <time>{getReadingTime(postContent)}</time>
                            </div>
                        </div>
                    )
                }
                {
                    updatedDate && (
                        <div>
                            Last updated on <time>{updatedDate}</time>
                        </div>
                    )
                }
                <hr />

                <section class="content">
                    <slot />
                    <p>Until next time...</p>
                </section>
            </article>
            <Comments />
            <Footer />
        </main>
    </body>
</html>
